@import "libs/null";
@import "libs/font";

@import 'base/variables';

* {
	font-family: 'Bai Jamjuree', sans-serif;
	}
.container {
	max-width: 1090px;
	margin: 0 auto;
	padding: 0 15px;
}


@import 'blocks/header';
@import 'blocks/info';
@import 'blocks/product';
@import 'blocks/awards';
@import 'blocks/portfolio';
@import 'blocks/services';
@import 'blocks/customer';
@import 'blocks/articles';
@import 'blocks/address';
@import 'blocks/footer';